.CodeEditor {
    flex: 1;
    background: rgba(48, 14, 93, 0.2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    border: 0.5px solid rgba(125, 124, 124, 0.1);
}

.CodeEditorHeader {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;

    justify-content: space-between;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
    font-size: 20px;
    font-weight: normal;
    color: #d5bcf5;
    border-radius: 20px 20px 0 0;
    background: #300e5d70;
    padding: 10px 20px;

    position: relative;
}

.CodeEditorHeader h3 span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif,
        Helvetica, sans-serif;
    color: #d5bcf5;
    font-weight: bolder;
}
.CodeEditorHeader h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.CodeEditorContent {
    width: 100%;
    height: calc(100% - 50px);
}
.code_editor_header_buttonsDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.runBtn,
.submitBtn {
    padding: 5px 20px;
    background: #35d359;
    height: 35px;
    width: 100px;
    color: #300e5d;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.23s ease-in-out;
    border: none;
}
.submitBtn:hover {
    background: #3efc6a;
}
.runBtn {
    background-color: #d5bcf5;
    color: #300e5d;
}
.runBtn:hover {
    background-color: #fff;
    color: black;
}

@media (max-width: 768px) {
    .CodeEditor {
        background: transparent;
        border-radius: 0;
    }
    .CodeEditorHeader {
        border-radius: 0;
        background: rgba(48, 14, 93, 0.2) !important;
        border-bottom: 0;
        padding: 0 10px;
    }
    .CodeEditorContent {
        border: none;
    }
    .code_editor_header_buttonsDiv {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
    }
    .runBtn_mobile {
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        height: auto;
        padding: 10px;
    }

    .runBtn:hover {
        background-color: var(--main-50p);
        
    }
}
