*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Friends{
    width: 100vw;
    height: 100vh;
}
.friendsContent{
    width: 100%;
    height: calc(100vh - 75px);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--bg);
    flex-wrap:nowrap;
}

.friendListDiv{
    width: 80vw;
    height: calc(100vh - 75px);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;

    gap: 20px;
}

@media (max-width: 768px) {
    .friendListDiv {
        width: 100vw;
        padding: 0 10px;
    }
}
