* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.FriendList {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(var(--divBg));
}

.friendListHeader {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 20px;
    background-color: rgba(var(--divBg));
    border-radius: 10px 10px 0 0;
}
.inputDiv * {
    background-color: transparent;
    border: none;
}
.inputDiv{
    width: 70%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #d5bcf52e;
    background-color: #1a0731;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;

    font-size: large;
}
.searchInp{
    width: 80%;
    height: 100%;
    color: #d5bcf5a4;
    padding: 0 20px;
    font-size: medium;

}
.searchInp:focus {
    outline: none; /* Remove default focus outline */
}
.searchInp::placeholder{
    color: #d5bcf5a4;

}