.Home {
    width: 100vw;
    height: calc(100vh - 85px);
}

.homeContent {
    width: 100%;
    height: calc(100vh - 75px);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    background-color: var(--bg);
    flex-wrap: nowrap;
}

.modesContainer {
    width: auto;
    height: auto;
    max-height: 90vh;
    overflow-y: scroll;
    scrollbar-width: thin;
    
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--main-50p) transparent;
    scroll-behavior: smooth;
}
.modesContainer::-webkit-scrollbar-thumb {
    background-color: rgba(63, 101, 134, 0.5);
    border-radius: 10px;
}

/* Responsive styles for Home.css */
@media (max-width: 768px) {
    .homeContent {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items */
        justify-content: center;
        padding: 10px; /* Add some padding */
        gap: 10px; /* Reduce gap */
        height: auto; /* Allow content to dictate height */
    }

    .modesContainer,
    .homeLeaderBoardContainer,
    .homeHistoryContainer {
        width: 95%; /* Take up more width on mobile */
        max-height: none; /* Remove max-height constraint */
        overflow-y: visible; /* Allow content to expand */
        margin-bottom: 10px; /* Add space between sections */
    }
    .homeLeaderBoardContainer{
        display: flex;
        align-items: center !important;
        justify-content: center !important;
    }
    .homeHistoryContainer{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .modesContainer {
        flex-direction: column; /* Ensure modes stack vertically */
        justify-content: center;
        gap: 10px; /* Space between mode items */
    }

    .Nav {
        display: none; /* Nav is now an overlay, hidden by default */
    }
}

.finding-match-indicator {
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 1.2em;
    color: white;
    background-color: #282c34;
}