.HorizontalMenu {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;

    justify-content: space-between;

    border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
    font-size: 20px;
    font-weight: normal;
    color: #d5bcf5;
    background-color: #1b0735;
    padding: 10px 20px;
    position: relative;
    z-index: 3;
}
.horizontal_menu_button_active_background {
    position: absolute;
    background: #d5bcf540;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    z-index: 7;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.horizontal_menu_button_container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.horizontal_menu_button {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background: transparent;
    color: #d5bcf5;
    font-size: large;
    width: 150px;
    height: 40px;
    z-index: 10;
    transition: all 0.2s ease;
}
.horizontal_menu_button:hover {
    background-color: #d5bcf510;
    cursor: pointer;
}

.activeMenuBtn:hover {
    background-color: inherit;
}
.horiz_menu_open_panel_btn {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 768px) {
    .HorizontalMenu {
        justify-content: space-between;
        padding: 10px;
        gap: 10px;
    }
    .horizontal_menu_button_container {
        max-width: 90vw;
    }
}
