.leaderboardContent_container {
    min-width: 60vw;
    min-height: 200px;
    background-color: rgba(var(--bg));
    margin-top: 20px;
    border-radius: 10px;
}
.leaderboard_header {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
    background-color: rgba(var(--divBg));
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #d5bcf50c;
}
.leaderboardContent {
    background-color: var(--divBg);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#table-responsive-wrapper{
    width: 60vw;
}

table {
    width: 100%;
    border-collapse: collapse;
    color: var(--main);
    font-family: "Arial", sans-serif;
    font-size: 1rem;
}

th {
    background-color: var(--darker);
    color: var(--main-1);
    padding: 15px 10px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px solid var(--main-1);
}

tr {
    border-bottom: 1px solid var(--dark);
}

tr:nth-child(even) {
    background-color: rgba(var(--divBg), 0.5);
}

tr:hover {
    background-color: var(--dark);
    cursor: pointer;
}

td {
    padding: 12px 10px;
    vertical-align: middle;
}

.leaderboardProfilePic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.LB_profile_and_username {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
}
.LB_profile_and_username img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    border: 1.5px solid var(--main-50p);
}

.LB_user_row{
    background-color: var(--div) !important;
}
.LB_user_row_rank, .LB_user_row_username, .LB_user_row_rating, .LB_user_row_quesionSolved{
    font-weight: bold;
    font-size: 1.1rem;
    font-style: italic;
}
.LB_rank{
    font-style: italic;
}
@media (max-width: 768px) {
    .leaderboardContent {
        display: block; /* Change from flex to block */
        padding: 10px;
    }

    #table-responsive-wrapper {
        overflow-x: auto;
        width: 90vw;
    }

    table {
        min-width: 600px; /* Ensure table doesn't shrink too much */
    }
}
