.MatchWait {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.MWspinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    height: auto; /* Adjust height as needed */
}

/* Spinner */
.MWspinner {
    border: 4px solid rgba(255, 255, 255, 0.3); /* Light outer border */
    border-top: 4px solid var(--main); /* Main color for the spinning part */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 0.75s linear infinite;
}

/* Counter text style */
.MWcounterTxt {
    font-size: 40px;
}

.counterDiv{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    flex-direction: column;
    position: relative;
    height: 300px;
    width: 40vw;
    padding-top: 35px;
}
.counterDiv p{
    position: absolute;
    top: 0;
}

/* Fade animation for the counter */
.fade {
    animation: fadeInOut 1s ease-in-out;
}
.MWbackBtn{
    all: unset;
    background-color: #280948;
    border: 1px solid rgba(var(--divBg));
    padding: 5px 20px;
    border-radius: 5px;
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.MWbackBtn:hover{
    background-color: #370d60;

}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    20% {
        opacity: 1;
        transform: scale(1);
    }
    80% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.8);
    }
}

/* Spinner Animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Color styles for the counter text */
.MWcounterTxt.getText {
    color: orangered;
    font-size: 45px;
}

.MWcounterTxt.setText {
    color: rgb(255, 225, 0);
    font-size: 50px;

}

.MWcounterTxt.goText {
    color: rgb(2, 176, 86);
    font-size: 55px;
    
}
