.MatchRightColumn{
    width: 100%;
    height: 80vh;
    border-radius: 20px;
    word-wrap: break-word;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
}
.output_or_testcases_section{
    transform: translateZ(0);
    transition: flex-basis 0.3s ease-in-out;
    overflow: hidden;
    flex-grow: 0;
}
.output_or_testcases_section.opened{
    flex-basis: 200px;
}
.output_or_testcases_section.closed{
    flex-basis: 0;
}

@media (max-width: 768px) {
  .MatchRightColumn {
    width: 100%;
    border-radius: 0;
  }
}

