.RPopupDivContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.38);
}

.RPopupDiv {
    background-color: var(--main);
    border: 2px solid white;
    color: var(--darkest);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 450px;
    overflow: hidden;
    padding: 20px 30px;
    z-index: 100;
    position: relative;
}

.popupHeader {
    color: var(--darkest);
    padding: 16px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.popupContent {
    padding: 20px;
}

.formGroup {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.formGroup label {
    margin-bottom: 5px;
    font-weight: 600;
    color: var(--darker);
}

.formGroup select,
.formGroup input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: var(--darker);
    color: var(--main);
    border: none;
    padding: 12px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #1b0630;
}

.closeButton {
    position: absolute;
    right: 20px;
    top: 20px;
    background: none;
    border: none;
    font-size: large;
    cursor: pointer;
    background-color: transparent;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

.closeButton:hover {
    background-color: #a875ea29;
}

@media (max-width: 768px) {
    .RPopupDiv {
        min-width: 90vw;
        width: 90vw;
    }
}
