.Output {
    background: rgba(48, 14, 93, 0.2);
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: column;
    border: 0.5px solid rgba(208, 187, 187, 0.1);
}

.Output_header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;

    justify-content: flex-start;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
    font-size: 20px;
    font-weight: normal;
    color: #d5bcf5;
    background: #300e5d70;
    padding: 10px 20px;

    position: relative;
}

.Output_header h3 span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif,
        Helvetica, sans-serif;
    color: #d5bcf5;
    font-weight: bolder;
}
.Output_header h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.Output_content {
    padding: 10px 20px;
    background: black;
    color: #fff;

    padding: 10px;
    font-family: monospace;
    border-radius: 8px;
    min-height: 200px;
    overflow-y: auto;
}
.Output_content::-webkit-scrollbar {
    width: 8px;
}

.Output_content::-webkit-scrollbar-track {
    border-radius: 10px;
}

.Output_content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(86, 77, 77, 0.5); 
    background-color:  #d5bcf540;
;
}

#outputEle {
    color: #fff;

    padding: 10px;
    border-radius: 8px;
    white-space: pre-wrap; /* handles long lines */
    font-family: monospace;
    max-height: 250px;
}
#errorEle{
    color: #ff4511;

    padding: 10px;
    border-radius: 8px;
    overflow-y: auto;
    white-space: pre-wrap; /* handles long lines */
    font-family: monospace;
    max-height: 250px;
}
