.QuestionDetails{
    flex: 1;
    overflow: scroll;
    scrollbar-width: none;
    overflow-x: scroll;
    margin-top: 20px;
    border-radius: 20px;
    background: rgba(48, 14, 93, 0.2);
    border: 0.5px solid rgba(125, 124, 124, 0.1);

}

.QuestionDetailsHeader{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;

    justify-content: flex-start;
    flex-direction: column;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
    font-size: 20px;
    font-weight: normal;
    color: #D5BCF5;
    border-radius: 20px 20px 0 0;
    background: #300e5d70;
    padding: 10px 20px;

}
.QuestionDetailsBody{
    padding: 30px 20px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    
}
.questionTitle{
    text-decoration: underline;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    flex-direction: column;
    font-size: larger;
}
.descriptionTxt{
    opacity: 0.85;
    line-height: 30px;

}
.descriptionTxt code{
    padding: 3px 5px;
    border-radius: 5px ;
    background: #300e5d;
    border: #300e5d;
    width: max-content;
    height: max-content;
    
}
.exampleSet{
    border-left: 2px solid  #D5BCF5;
    margin: 20px 0;
    margin-bottom: 0;
    padding: 20px;
    background: #300e5d;
    border-radius: 10px;
    color: #D5BCF5;
    width: 100%;
}
.examples{
    width: 100%;
    margin-top: 20px;
}
.loading{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D5BCF5;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    opacity: 0.8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease-in-out;
    animation: fadeIn 0.5s ease-out;

}

.tagsDiv{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.tags{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}
.tag{
    background: #300e5d;
    color: #D5BCF5;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    border-left: 2px solid  #D5BCF540;

}

.hintsDiv{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    flex-direction: column;
    margin-top: 20px;
}
.hint{
    width: 100%;
    height: 45px;
    background: #300e5d;
    color: #D5BCF5;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-left: 2px solid  #D5BCF540;


}

.hintsSet{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
    flex-direction: column;
}

.testcasesDiv{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    flex-direction: column;
    margin-top: 20px;
}
.testcasesSet{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
    flex-direction: column;
}

.testcase{
    width: 100%;
    height: 75px;
    background: #300e5d;
    color: #D5BCF5;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border-left: 2px solid  #D5BCF540;
}

.hintsDiv, .tagsDiv, .testcasesDiv, .examples{
    padding-top: 24px;
    padding-bottom: 24px;
    border-top: 1px solid  #D5BCF520;
}

@keyframes fadeIn {
    from {
        opacity: 0.6;
    }
    to {
        opacity: 1;
    }
}
