.SettingsContainer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 20px;
    height: calc(100vh - 75px);



}
.settingsNavDiv{
    height: calc(100vh - 75px);

}

.settingsContent{
    width: calc(80vw - 40px);
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column; /* Changed to column */
    border-radius: 10px;
    background:rgba(var(--divBg));
}

.settings-tabs {
    display: flex;
    border-bottom: 1px solid var(--main-50p);
}

.tab-button {
    padding: 15px 20px;
    cursor: pointer;
    background: none;
    border: none;
    color: var(--main);
    font-size: 1rem;
    transition: background-color 0.3s;
}

.tab-button.active {
    background-color: var(--main-50p);
    border-bottom: 2px solid var(--main-1);
}

.settings-tab-content {
    padding: 20px;
    flex-grow: 1;
}