.TestCases {
    background: #1b0735;
    height: 100%;
    padding: 10px 20px;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;

    overflow-y: scroll;
}
.TestCases div{
    margin: 10px 0;
}
.TestCases_failed_testCase, .TestCases_failed_testCase_container{
    width: 100%;
}
.console_like_divs{
    background-color: black;
    color: white;
    font-family: monospace;
    padding: 25px 20px;
    width: 100%;
}
.console_like_divs p code{
    color: #d5bcf5;
    font-size: larger;
}
.submit_result_summary{
    padding: 10px 20px;
    background-color: #d5bcf5;
    color: #300e5d;
    border-radius: 10px;
    width: 100%;
    text-align: center;
}
.success_testcases_summary{
    background-color: #0fff73;
}
.TestCases::-webkit-scrollbar {
    width: 8px;
}

.TestCases::-webkit-scrollbar-track {
    border-radius: 10px;
}

.TestCases::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(86, 77, 77, 0.5); 
    background-color:  #d5bcf540;
;
}
