.WaInviteWait {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--darkest);
    color: var(--main);
}

.WIWspinner-container {
    text-align: center;
}

.WIWspinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: var(--main-2);
    animation: spin 1s ease infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.error-container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.error-container p {
    color: #d9534f;
    margin-bottom: 20px;
}

.error-container button {
    padding: 10px 20px;
    border: none;
    background-color: #09f;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
