:root {
    --float-duration: 6s; /* how long one cycle takes (lower = faster) */
    --float-range: 12px; /* vertical travel distance */
    --float-tilt: 2deg; /* slight rotation */
}

.youWin__container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
    background: rgba(0, 0, 0, 0.25783); /* semi-transparent */
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.youWin__container:hover{
    cursor: pointer;
}
.youWin{
    z-index: 1000;
}
.youWin:hover{
    cursor: default;
}
#youWin_img {
    width: 250px;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translate(-50%);
    animation: pulse 1.8s ease-in-out infinite;
    transform-origin: center;
}

.youWin_inner_div {
    position: relative;
    width: 600px;
    padding: 20px 20px;
    padding-top: 180px;
    border-radius: 20px;
    background: #300e5d;
    border: 0.5px solid rgba(125, 124, 124, 0.1);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    gap: 20px;
}
.youWin_rating_change_div {
    width: 100%;
    height: 80px;
    border-radius: 10px;
    background-color: #20093d;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.youWin_rating_change_div h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.youWin_rating_diff {
    right: 0;
    color: #7bfc03;
    font-weight: bold;
}
.youWin_cta_div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.youWin_cta_btn {
    all: unset;
    width: 42%;
    background-color: #d5bcf5;
    padding: 15px 20px;
    color: #0d0218;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.123s ease-out;
}
.youWin_cta_btn_positive {
    background-color: hsl(265, 18%, 52%);
    color: #d5bcf5;

    display: flex;align-items: center;
    justify-content: center;
    flex-direction: column;
}
.youWin_cta_btn_positive span{
    font-size: 12px;
    opacity: .8;
}
.youWin_cta_btn:hover {
    cursor: not-allowed;
}

@keyframes pulse {
    0%,
    100% {
        transform: scale(1) translate(-50%);
        filter: drop-shadow(0 0 0px #a855f760);
    }
    50% {
        transform: scale(1.05) translate(-48%);
        filter: drop-shadow(0 0 15px #a855f760);
    }
}

.closeYouWinBtn {
    width: 30px;
    height: 30px;

    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-out;
}

.closeYouWinBtn:hover{
    cursor: pointer;
}

@media (max-width: 768px) {
    .youWin_inner_div {
        width: 90vw;
        padding: 15px;
        padding-top: 120px;
    }
    .youWin_inner_div p{
        text-align: center;
    }
    #youWin_img {
        width: 180px;
        top: -80px;
    }
    .youWin_cta_div {
        flex-direction: column;
        gap: 10px;
    }
    .youWin_cta_btn {
        width: calc(100% - 40px);
    }
}